@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    height: 10px;
    width: 6px;
    border-radius: 1px solid #d5d5d5;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(50, 50, 50, 0);
    border-radius: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #74c0ff;
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

@layer components {
  .class-1::-webkit-scrollbar {
    height: 4px;
    width: 1px;
    border-radius: 1px solid #d5d5d5;
  }
  /* Track */
  .class-2::-webkit-scrollbar-track {
    background: rgba(50, 50, 50, 0.2);
    border-radius: 5px;
  }
  /* Handle */
  .class-3::-webkit-scrollbar-thumb {
    @apply bg-light-blue;
    border-radius: 5px;
  }
  /* Handle on hover */
  .class-4::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
  }
}
